* {
  /*max-width: 960px;*/
}

body {
  width: 100%;
  background-color: lightblue;
  font-family: helvetica;
  margin: 0 auto;
  text-align: left;
  color: white;
}

h1 {
  font-size: 50px;
  background-color: lightGray;
  color: black;
  padding: 1em 0;
  margin-left: 0;
}

#logo {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

h2 {
  text-align: center;
  color: black;
  padding: 20px;
  font-size: 25px;
}

#book-list {
  text-align: center;
}

h3 {
  padding: 10px;
  font-style: italic;
  color: black;
  font-size: 20px;
}

p {
  padding: 10px;
  font-style: 15px;
  color: darkSlategray;
}
